html,
body {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  color: var(--white);
}

body, button, input, textarea {
  font: 400 1rem "Inter", sans-serif
}

button {
  cursor: pointer
}

a {
  color: var(--white);
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --primary:#1f233a;
  --secondary:#fd5c54;
  --white:#fff;
  --black:#000000;
  --grey: #232424;
}
